---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">

  <div class="row">
    <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1">
      <div class="cmd" > $ npm install qminer -save </div>
    </div>
    <div class="col-lg-4 col-md-5">
      <iframe width="320" height="180" src="https://www.youtube.com/embed/liA0ahRj9Nw" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>
